# Ignore files that shouldn't be copied to Docker context
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile
**/README.md
**/.vscode
**/.idea

# But don't ignore resources directory
!resources/